<mat-table [dataSource]="dataSource"></mat-table>
<ng-container matColumnDef="select">
<mat-card class="Reveiw-card" >
    <Div  >
    <mat-card-header >
        <mat-card-title> Name: </mat-card-title>
        <mat-card-content> <label>jeff </label></mat-card-content>   
    </mat-card-header>
    
    <hr>
</Div>
<div>
    <mat-card-title>Date: </mat-card-title>  
        <mat-card-content><label>july 6, 2019 </label></mat-card-content>
    <div>
        <mat-card-title  >Source:</mat-card-title> 
        <label>www.facebok.com</label> 
    </div>
    <mat-card-title>Message:</mat-card-title>  
    <label>Xpo is a taco</label>
    
    <mat-card-title>Thumb:</mat-card-title> 
    <button mat-button>
        <span class="material-icons">thumb_up</span> <label> Like To Save</label>
    </button>
    <div>
        <mat-card-title>ID:</mat-card-title>   
        <label>A12321</label>
    </div>
</div>
</mat-card>
</ng-container>



    
   

